* {
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family:'Oswald', sans-serif;
    src: url('./fonts/Oswald-VariableFont_wght.ttf');
}
body.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(100, 96, 96);
}
body.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(118, 223, 118);
    border-radius: 5px;
}

body.body {
    background-color: rgb(85, 170, 85);
}

/* HEADER*/

img.navbar__logo {
    width: 200px;
    margin-bottom: 10%;
}
header nav.bg-custom{
    background-color: #3c4336;
    font-size:large;
    text-transform: uppercase;
}
.drop-down-custom {
    background-color: #3c4336;
}
.anchor-custom {
    color: rgb(253, 254, 255);
}
/* End HEADER*/


/*SECTION descripcion*/

section.descripcion {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color: #3c4336;
    color: rgb(206, 211, 216);
}
section.descripcion .descripcion__contenedor {
    text-align: center;
    font-family:'Oswald', sans-serif;
}
section.descripcion .descripcion__contenedor-titulo {
    text-transform: uppercase;
}
section.descripcion .descripcion__contenedor-parrafo {
    font-size: 20px;
}
section.descripcion a.descripcion__contenedor-parrafo-anchor {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border-radius: 10px;
}
section.descripcion a.descripcion__contenedor-parrafo-anchor:visited {
    color: rgb(141, 90, 137);

}
section.descripcion a.descripcion__contenedor-parrafo-anchor:hover {
    font-weight: bold;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}

/*END SECTION descripcion*/


/*SECTION cbd*/
section.cbd {
    font-family:'Oswald', sans-serif;
    border-top: solid #495042;
    border-radius: 4px;
    margin: 10px;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
section.cbd h2.cbd__imagen-titulo{
    text-align: center;
}

section.cbd .cbd__imagen-custom {
    border: 3px solid rgb(94, 179, 94);
    margin-top: 10px;
    width: 100%;
    height: 95%;
    border-radius: 7px;
}
section.cbd .cbd__descripcion {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

section.cbd .cbd__descripcion-two {
    text-align: center;
    font-size: 20px;
}
section.cbd a.cbd__descripcion-two-anchor {
    color: #ececec;
    text-decoration: underline;
    border-radius: 10px;
}
section.cbd a.cbd__descripcion-two-anchor:visited {
    color: rgb(141, 90, 137);
}
section.cbd a.cbd__descripcion-two-anchor:hover {
    font-weight: bold;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}

/*END SECTION cbd*/


/*SECTION variedades*/
section.variedades {
    font-family:'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

section.variedades h2.variedades__titulo {
    text-transform: uppercase;
    font-size: 25px;
    border-top: solid #495042;
    border-bottom: solid #495042;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.variedades img.variedades__one-imagen {
    width: 70%;
    border-radius: 10px;
}
section.variedades h2.variedades__one-titulo{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 25px;
}
section.variedades p.variedades__one-parrafo{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}
section.variedades a.variedades__one-anchor{
color: #ececec;
    text-decoration: underline;
    border-radius: 10px;
}
section.variedades a.variedades__one-anchor:visited{
    color: rgb(141, 90, 137);
}
section.variedades a.variedades__one-anchor:hover{
    font-weight: bold;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}


section.variedades img.variedades__two-imagen {
    width: 70%;
    border-radius: 10px;
}
section.variedades h2.variedades__two-titulo{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 25px;
}
section.variedades p.variedades__two-parrafo{
    margin-top: 10px;
    font-size: 20px;

}
section.variedades a.variedades__two-anchor{
    color: #5d6654;
    text-decoration: underline;
    border-radius: 10px;
}
section.variedades a.variedades__two-anchor:visited{
    color: rgb(141, 90, 137);
}
section.variedades a.variedades__two-anchor:hover{
    font-weight: bold;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}

/*END SECTION variedades*/


/*SECTION thc*/

section.thc {
    font-family:'Oswald', sans-serif;
    border-top: solid #495042;
    border-radius: 4px;
    margin: 10px;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
section.thc h2.thc__imagen-titlo{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px
}

section.thc .thc__imagen-custom {
    border: 3px solid rgb(94, 179, 94);
    margin-top: 10px;
    width: 100%;
    height: 95%;
    border-radius: 7px;
}
section.thc .thc__descripcion {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

section.thc .thc__descripcion-two {
    text-align: center;
    font-size: 20px;
}
section.thc a.thc__descripcion-anchor {
    color: #ececec;
    text-decoration: underline;
    border-radius: 10px;
}
section.thc a.thc__descripcion-anchor:visited {
    color: rgb(141, 90, 137);
}
section.thc a.thc__descripcion-anchor:hover {
    font-weight: bold;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}

/*FOOTER*/
footer.footer {
    font-family:'Oswald', sans-serif;
    background-color: #3c4336;
    display: flex;
    flex-direction: column;
}

footer.footer div.footer__contacto {
    margin-top: 20px;
    text-align: center;
}
footer.footer h3.footer__contacto-titulo {
    font-size: 120%;
    color: rgb(206, 211, 216);
}
footer.footer p.footer__contacto-parrafos {
    font-size: 100%;
    color: rgb(206, 211, 216);
}
footer.footer div.footer__navegacion {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer.footer h3.footer__navegacion-titulo {
    font-size: 120%;
    color: rgb(206, 211, 216);
}
footer.footer a.footer__navegacion-anchor {
    font-size: 100%;
    color: rgb(85, 170, 85);
    text-decoration: underline;
}
footer.footer div.footer__redes {
    margin-top: 20px;
    text-align: center;
}
footer.footer h3.footer__redes-titulo {
    font-size: 120%;
    text-align: center;
    color: rgb(206, 211, 216);
}
footer.footer img.footer__redes-imagen {
   width: 10%;
}
footer.footer a.footer__navegacion-anchor:hover { 
    font-weight: bold;
    border-radius: 10px;
    padding: 2px;
    background-color: #495042;
    color: rgb(118, 223, 118);
}

/*END FOOTER*/

/*END FOOTER*/
